/* drug interaction page styles  */
body {
  background-color: #FFF9D0;
}
#app-logo {
  height: 50px;
  color: red;
}
.nav-link {
  color: black;
  transition: color 0.3s, background-color 0.3s;
  background-color: transparent;
}
.nav-link:hover {
  color: white;
  background-color: #5AB2FF;
}
.nav-link.active {
  color: black;
  background-color: transparent;
}
.nav-link.active:hover {
  background-color: #5AB2FF;
  color: white;
}
.ddi-btn {
  background-color: #5AB2FF;
  border: none;
}
 /* authentication page styles */
 .signin-btn {
  background-color: #5AB2FF;
  border: none;
 }
.signin-btn:hover {
  opacity: 80%;
}

/* form page styles */
.form-head {
  color: rgba(41, 43, 46, 0.893);
}
.submit-btn {
  background-color: #5AB2FF;
  border: none;
 }
.submit-btn:hover {
  opacity: 80%;
}
.btn {
  background-color: #5AB2FF;
  border: none;
}
 /* drug-lookup page styles */
 .form-control-lg, .btn-lg {
  font-size: 1.25rem;
  height: calc(1.5em + 1.25rem + 2px); /* Ensure the input and button have the same height */
}
.btn-lg {
  margin-top: 25px;
  margin-left: 10px;
}